<h1>Projects</h1>
<a href="https://github.com/poojareddy18/" target="_blank">Visit GitHub for More details.</a>
<div class = container>
<ol>
    <h3><li><b>KnowledgeBot</b></li></h3>
    <div class = text>
        Built a chatbot for learning different tutorials and filtering the tutorials based on user requirements. I have Used dialog flow for the integration of chatbot.
Also integrated third party APIs using Webhook.
 The features of this page are chatbot which provides accurate data according to user requirements, on basis of your level of expertise, level of difficulty, also provides tutorials, installations, videos, practice tests.
And deployed it in AWS.
    </div>
    <div class = container1>
        <h3><li>Twitter Data Analysis</li></h3>
        <div class = text>
            I have Collected tweets from Twitter API based on keywords related to ' All Sports'. 
            Analysed data using SparkSQL queries and visualized data in Tableau and matplotlib. 
	        Designed web application using Flask, HTML5, CSS3 to represent the visualizations on the webpage.
        </div>
    </div>
    <div class = container2>
        <h3><li>Weather Data Forecast</li></h3>
        <div class = text>
            Application where it will be showing the weather data of the required location.
            We have also created a search history of all the data, we have search options for weather data and their temperatures.
            Then stored the values in mongo db. 
        </div>
    </div>
<div class = container3>
    <h3><li>Weather-Mobile Application</li></h3>
    
    <div class = text>
        Used open weather API to display current weather, next 3 days weather.
        Also used google API for retrieving the current location of the user. 
        Used text to speech recognition for the weather to be told by both speech and text.
        

    </div>
</div>
</ol>
</div>