

<body>
<div class = container>
<img src="assets/images/123.JPG" width = 200 height =300 ALIGN = right>
<div class = text>
    <h1>Welcome!</h1>
        Hi, I am Pooja Reddy Gopu.
        A Computer Science Graduate student from University Of Missouri- Kansas City.
        I am passionate about cooking different recipes.
        I am also a fitness enthusiast learning to find a healthy balance between eating
         healthy and also enjoying the cheats.
    <h3>Contact Information</h3>
        Email : poojareddygopu@gmail.Com <br>
        Phone : +1 8163166591
        <h3>READS</h3>
</div>
</div>
<div class = container1>
    <div class = text>
       
    </div>
</div>
</body>